<table width='100%' align='center'>
<tr><td align='left' colspan='2'><b><font size='+1'>CALIFORNIA TOURS <hr></font></b></td></tr>
<tr><td align='left'><font size='-1'>500 Sutter Street, suite 823 San Francisco, CA 94102  Tel:877/338-3883  Fax:415/393-4217</font></td>

<td align='left'>
<a href='mailto:tour@california-tour.com'><font size='-1'>tour@california-tour.com</font></a>
</td></tr>
</table><form name='deluserrow' method='post' action='deluser2.php'><br>
<CENTER><b><font size='+1'>PASSENGER LIST</font></b></CENTER>
<center><font size='-1' color='blue'>(-- Created 2011-07-21 12:5:2 --)</font></center>
<TABLE ALIGN='CENTER' WIDTH='100%'>
<TR>

<TD ALIGN='LEFT' valign='top' colspan='8'><hr>
<b>LAUS072410 UNIVERSAL STUDIOS TRIP</b></TD>
</TR><TR>
</TR>
<TR>
<TD ALIGN='LEFT' valign='top' colspan='8'><font color='red'><b>NO PASSENGER MATCHES ON THIS TOUR</b></font>
</TD>
</TR><TR>

<TD ALIGN='LEFT' valign='top' colspan='8'><hr>
</TD>
</TR></TABLE></form>
