/*
Theme Name: California Tours
Theme URI: http://almost-everything.com/
Description: A custom theme for California Tours built on the framework of the TwentyTen theme.
Author: Almost Everything Comm
Version: 0.1

*/

body{
	background-color:#fefbea;
	margin:0px;
}

div{
	display:block;
	position:relative;
}
img{
	display:inline;
	border:none;
}

#wrapper{
	width:1008px;
	margin:0px auto;
	padding:0px;
	background-image:url("images/panel-background.gif");
}

/****************************/
/******  head area   ********/
/****************************/

#header{
	width:1000px;
	margin:0px auto;
	height:63px;
}
#print_head{
	display:none;
}
#logo{
	display:block;
	float:left;
	width:124px;
	height:63px;
	margin:0px;
}
#head_box{
	float:right;
	height:63px;
	text-align:right;
}
#top_phone{
	font-size:14px;
	font-family:Arial,helvetica,sans-serif;
	color:#999999;
	margin:12px 13px 4px 0px;
}
#second_line{
	margin-right:7px;
	font-size:11px;
}
#second_line a{
	margin:0px 5px;
}
#second_line a:link,#second_line a:visited{
	color:#014da0;
	text-decoration:none;
}
#second_line a:hover,#second_line a:visited:hover,#second_line a:active,#second_line a:visited:active{
	color:#feba35;
	text-decoration:underline;
}


#searchform{
	display:inline;
	height:14px;
	margin:-3px 5px 0px 0px;
}
#search_field{
	position:relative;
	border: solid 1px #e8e8e8;
	font-size:10px;
	color:#aeaeae;
	padding: 2px 3px;
	width:130px;
	height:9px;
	background-color:#fff;
}
#searchsubmit{
	cursor:pointer;
	position:relative;
	width:26px;
	height:14px;
	top:3px;
	border:none;
}

/*******************************/
/****** top navigation  ********/
/*******************************/

/****** main navigation  ********/

div.skip-link{
	display:none;
}
#access{
	width:1000px;
	height:39px;
	background-image:url("images/nav_back.png");
	margin:0px auto -39px auto;
	z-index:100;
}
div.menu-header ul.menu{
	width:1000px;
	height:39px;
	padding:0px;
}
div.menu-header ul.menu li{
	display:block;
	position:relative;
	list-style-type:none;
	float:left;
	text-align:center;
	width:90px;
	height:39px;
	padding:0px;
	margin:0px 0px -38px 0px;
}
div.menu-header ul.menu li:hover,div.menu-header ul.menu li:active{
	background-image:url("images/nav_back.png");
}
div.menu-header ul.menu li a{
	width:80px;
	display:block;
	float:none;
	text-align:center;
	color:#fff;
	height:33px;
	padding:6px 10px 0px 10px;
	margin:0px;
	font-family:Arial,helvetica,sans-serif;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
}
div.menu-header ul#menu-top-navigation-jp li a{
	width:101px;
	padding:6px 5px 0px 5px;
	font-size:10px;
	line-height:13px;
}
div.menu-header ul.menu li a:link,div.menu-header ul.menu li a:visited{
	background-image:none;
}
div.menu-header ul.menu li a:hover,div.menu-header ul.menu li a:visited:hover,div.menu-header ul.menu li a:active,div.menu-header ul.menu li a:visited:active{
}


/****** sub navigation  ********/


div.menu-header ul.menu li > ul.sub-menu{
	display:none;
}	
div.menu-header ul.menu li:hover > ul.sub-menu,div.menu-header ul.menu li:active > ul.sub-menu,div.menu-header ul.menu li:visited:hover > ul.sub-menu,div.menu-header ul.menu li:visited:active > ul.sub-menu{
	display:block;
}

div.menu-header ul.menu li > ul.sub-menu,
ul#menu-bottom-navigation li > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu{
/*	clear:both; */
	width:187px;
	left:-8px;
	margin:0px;
	font-family:helvetica,Arial,sans-serif;
}

div.menu-header ul.menu li > ul.sub-menu{
	position:relative;
	padding:0px 0px 25px 0px;
	background-image:url("images/drop-down-back.png") !important;
	background-repeat:no-repeat;
	background-position: bottom;
}
div.menu-header ul.menu li#menu-item-55 > ul.sub-menu{
	left:-67px;
}
div.menu-header ul.menu li#menu-item-55 > ul.sub-menu li a{
	text-align:left;
}
div.menu-header ul.menu li > ul.sub-menu li,
ul#menu-bottom-navigation li > ul.sub-menu li,
ul#menu-bottom-navigation-es li > ul.sub-menu li,
ul#menu-bottom-navigation-jp li > ul.sub-menu li,
ul#menu-bottom-navigation-au li > ul.sub-menu li{
	position:relative;
	width:153px;
	height:auto;
	float:none;
	padding:0px 17px 0px 17px;
	margin:0px;
	
}
div.menu-header ul.menu li > ul.sub-menu li:hover,div.menu-header ul.menu li > ul.sub-menu li:active,
ul#menu-bottom-navigation li > ul.sub-menu li:hover,
ul#menu-bottom-navigation li > ul.sub-menu li:active,
ul#menu-bottom-navigation-es li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li:active,
ul#menu-bottom-navigation-jp li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li:active,
ul#menu-bottom-navigation-au li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li:active{
	background-image:none;
}
div.menu-header ul.menu li > ul.sub-menu li a,
ul#menu-bottom-navigation li > ul.sub-menu li a,
ul#menu-bottom-navigation-es li > ul.sub-menu li a,
ul#menu-bottom-navigation-jp li > ul.sub-menu li a,
ul#menu-bottom-navigation-au li > ul.sub-menu li a{
	position:relative;
	width:153px;
	float:none;
	text-align:left;
	height:auto;
	font-size:11px;
	line-height:14px;
	padding:8px 0px 0px 0px;
	
}
div.menu-header ul.menu li > ul.sub-menu li a:hover,div.menu-header ul.menu li > ul.sub-menu li a:visited:hover,div.menu-header ul.menu li > ul.sub-menu li a:active,div.menu-header ul.menu li > ul.sub-menu li a:visited:active, ul#menu-bottom-navigation li > ul.sub-menu li a:hover,
ul#menu-bottom-navigation li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation li > ul.sub-menu li a:active,
ul#menu-bottom-navigation li > ul.sub-menu li a:visited:active, ul#menu-bottom-navigation-es li > ul.sub-menu li a:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li a:active,
ul#menu-bottom-navigation-es li > ul.sub-menu li a:visited:active, ul#menu-bottom-navigation-jp li > ul.sub-menu li a:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li a:active,
ul#menu-bottom-navigation-jp li > ul.sub-menu li a:visited:active, 
ul#menu-bottom-navigation-au li > ul.sub-menu li a:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li a:active,
ul#menu-bottom-navigation-au li > ul.sub-menu li a:visited:active{
	background-image:none !important;
	color:#627bbb !important;
}
div.menu-header ul.menu li > ul.sub-menu li a:link,div.menu-header ul.menu li ul.sub-menu li a:visited,
ul#menu-bottom-navigation li > ul.sub-menu li a:link, ul#menu-bottom-navigation li ul.sub-menu li a:visited
,
ul#menu-bottom-navigation-es li > ul.sub-menu li a:link, ul#menu-bottom-navigation-es li ul.sub-menu li a:visited
,
ul#menu-bottom-navigation-jp li > ul.sub-menu li a:link, ul#menu-bottom-navigation-jp li ul.sub-menu li a:visited,
ul#menu-bottom-navigation-au li > ul.sub-menu li a:link,
ul#menu-bottom-navigation-au li ul.sub-menu li a:visited{
	color:#535353;
}


/**************************/
/****** home page  ********/
/**************************/

#page_photo_home{
	width:1000px;
	height:578px;
	margin:0px auto;
	background-image:url("images/home_images/coast.jpg");
	z-index:10;
}
#page_photo_home h2.entry-title, #home_box h2.entry-title{
	display:none;
}
#home_content{
	position:relative;
	width:254px;
	top:86px;
	margin:0px auto 0px  0px;
	float:left;
}
#home_box{
	width:220px;
	min-height:200px;
	padding:25px 17px 17px 17px;
	background-image:url("images/home-side_back.png");
	margin:0px;
}
#home_content_foot{
	width:254px;
	height:6px;
	padding:0px;
	background-image:url("images/home-side_bottom.png");
	margin:0px;
}
#home_box, #home_box .entry-content{
	color:#feba35;
	font-size:12px;
}
#home_box h1,#home_box h2,#home_box {
	color:#feba35;
	font-size:13px;
	margin:0px;
}
#specials_list a{
	color:#feba35;
	display:block;
	text-decoration:none;
	width:220px;
	margin:10px 0px 5px 0px;
}
#specials_list a h3{
	font-size:11px;
	width:200px;
	line-height:13px;
	margin:0px 0px 0px 0px;
	color:#feba35;
}
#specials_list a:link,#specials_list a:visited{
	color:#feba35;
	text-decoration:none;
	background-image:url("images/home-specials-arrow.png");
	background-repeat:no-repeat;
	background-position:center right;
}
#specials_list a:hover,#specials_list a:visited:hover,#specials_list a:active,#specials_list a:visited:active{
	background-image:url("images/home-specials-arrow-on.png");
	background-repeat:no-repeat;
	background-position:center right;
}
#specials_list a:hover,#specials_list a:visited:hover,#specials_list a:active,#specials_list a:visited:active,#specials_list a:hover h3,#specials_list a:visited:hover h3,#specials_list a:active h3,#specials_list a:visited:active h3{
	color:#ffffff;
	text-decoration:none;
}





/*************************/
/****** L2 pages  ********/
/*************************/

#page_photo{
	width:1000px;
	min-height:300px;
	margin:0px auto;
	padding:0px;
	z-index:10;
}
#page_photo_optional{
	width:1000px;
	min-height:39px;
	margin:0px auto;
	padding:0px;
	z-index:10;
}
#page_photo img{
	width:1000px;
	margin:0px;
	z-index:10;
}

span.edit-link,p.nocomments{
	display:none;
}

#page_area{
	position:relative;
	width:1000px;
	margin:-4px auto 39px auto;
	background-image:url("images/L2-background.gif");
	padding: 10px 0px 0px 0px;
	
}
#share_links{
	margin: 0px 50px 10px 0px;
	text-align:right;
	font-size:10px;
	color:#375cbb;
}
#share_links img{
	display:inline;
	width:13px;
	height:13px;
	border:none;
	margin:2px 3px -2px 3px;
}
#share_links a{
	color:#375cbb;
	text-decoration:none;
}
#share_links a:link span,#share_links a:visited span{
	text-decoration:underline;
}
#share_links a:hover span,#share_links a:visited:hover span,#share_links a:active span,#share_links a:visited:active span{
	text-decoration:none;
}
#page_content{
	width:700px;
	position:relative;
	margin:0px 50px 30px 50px;
	float:right;
}
h1.entry-title{
	font-size:20px;
	color:#627bbb;
}
.entry-content h3{
	font-size:14px;
	color:#627bbb;
	margin-top:-12px;
}
.entry-content{
	font-size: 12px;
	line-height:17px;
	color: #6e6e6e;
}

.entry-content h3 a:link,.entry-content h3 a:visited{
	text-decoration:none;
}

.entry-content h3 a:hover,.entry-content h3 a:visited:hover,.entry-content h3 a:active,.entry-content h3 a:visited:active{
	text-decoration:underline;
}


/*******  travel listing table w/thumbnails  ********/

table.travel_listings{
	margin:15px 60px 15px 20px;
}
table.travel_listings td{
	padding-bottom:15px;
}

table.travel_listings td.travel_image{
	
}

table.travel_listings td.travel_image img{
	
}

table.travel_listings td.travel_info p{
	margin:0px;
	
}
table.travel_listings td.travel_info{
	vertical-align:top;
	padding-left:15px;
	
}

table.travel_listings td.travel_info strong{
	color:#627bbb;
	margin:0px;
	font-weight:normal;
}

table.travel_listings td.travel_info h3{
	margin:0px;
}
td.travel_info .price_info{
	display:inline block;
	padding-right:40px;
}
td.travel_info > h3,td.travel_info > strong{
	vertical-align:top;
}


/****************************/
/******  L3 Pages   ********/
/****************************/

/* Tab List */

ul#l3_tabs{
	display:block;
	height:30px;
	padding:0px;
	margin:10px 0px;
/*	background-color:#b8c2de;*/
	list-style-type:none;
}
ul#l3_tabs li{
	display:block;
	float:left;
	cursor:pointer;
	height:30px;
	padding:0px;
	margin:0px;
	text-align:center;
	list-style-type:none;
	background-color:#b8c2de;
	background-image:url('images/l3_tab_div.gif');
	background-repeat:no-repeat;
	background-position:right center;
	white-space:nowrap;
}
ul#l3_tabs li:hover{
	background-color:#8e9dcb;
}
ul#l3_tabs li.start{
	background-color:#8e9dcb;
}
ul#l3_tabs li.last{
	background-image:none;
}
ul#l3_tabs li a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
	height:14px;
	padding:8px 16px 8px 16px;
	display:block;
}
ul#l3_tabs li.last a{
	background-image:none;
	padding:8px 15px 8px 15px;
}
#comments #social .social-comment-header{
	padding-left: 0;
}
#comments #social .social-comment-entry-meta{
	padding-left: 50px;
}
#comments #social .social-comment-header .avatar {
    float: left;
    margin-right: 9px;
    position:relative;
    top: 3px;
}
#comments #social .social-fn{
	width: auto;
}
#comments #social #respond textarea.social-input {
    max-width: 600px;
    min-width: 400px;
}
/********  Content boxes  **********/

div.l3_info {
	display:none;
	position:relative;
	width:690px;
	margin:20px 0px;
}
div.l3_info h3{
	margin:10px 0px 10px 0px;
}
div.l3_info h6{
	display:none;
}
div.l3_info div.col1,div.l3_info div.col2{
	display:block;
	position:relative;
	width:330px;
	float:left;
	min-height:200px;
}
div.l3_info div.col1{
	float:left;
}
div.l3_info div.col2{
	float:right;
}

div.l3_info.start{
	display:block;
}
div.l3_info dl{
	display:block;
	margin:-10px 0px 0px 0px;
}
div.l3_info dt{
	display:block;
	clear:both;
	color:#627BBB;
	float:left;
	font-weight:bold;
	width:145px;
	margin-top:10px;
}
div.l3_info dd{
	display:block;
	float:left;
	width:305px;
	margin-top:10px;
}
div.l3_info dl.it_list{
	display:block;
	margin-top:10px;
	width:600px;
}
div.l3_info dl.it_list dt{
	display:block;
	clear:both;
	float:left;
	font-size:14px;
	color:#5065AD;
	font-weight:bold;
	width:60px;
	margin-top:10px;
}
div.l3_info dl.it_list dd{
	display:block;
	float:left;
	width:500px;
	margin-top:10px;
}
div#itinerary h4{
	clear:both;
	padding:30px 0px 0px 0px;
	margin-top:-20px;
}
div#prices table{
	margin: 0px 0px 0px -12px;
}
div#prices table td{
	padding: 0px 12px;
}
div#prices table td h3{
	margin: 0px;
}

/*******  question form  ********/

#question #err_field{
	display:none;
	border: solid 1px #f1cc86;
	background-color:#f1e2c5;
	padding:10px 20px;
}

#question form {
	display:none;
	position:relative;
	margin:0px 15px;
	width:500px;
}

div.form_field{
	display:inherit;
	position:relative;
	clear:both;
	text-align:left;
	padding:4px 15px;
}
div.form_field label.form_label,div.form_field div.form_label{
	display:block;
	float:left;
	width:220px;
	text-align:left;
}

div.form_field input, div.form_field textarea,div.form_field label{
	float:left;
}
div.form_field select{
	float:left;
}
div.form_field input[type=text]{
	width:200px;
}

div.form_field textarea{
	height:100px;
	width:640px;
	font-size:90%;
	padding:8px;
	color:#6E6E6E;
}

input.dollaramount,td.dollaramount{
	background-image:url("/wp-content/themes/catours/images/dollar_back.gif");
	background-repeat:no-repeat;
	background-position:left center;
	text-align:right;
	padding-left: 15px;
}

div.radio_options_single {
	display:block;
	position:relative;
	height:14px;
	float:left;
	text-align:left;
}
div.radio_options_single label,div.radio_options_single label input{
	display:inline;
	float:none;
}
div.form_field div.field_note{
	width:200px;
	font-size:90%;
	text-align:left;
	display:block;
	clear:both;
	margin:0px 0px 0px 220px;
	padding:0px;
}

input[type=submit],input[type=button]{
	background-color:#fff;
	border: solid 1px #999;
	color:#666;
	padding:2px 10px;
	text-transform:uppercase;
	font-weight:bold;
}
input[type=submit]:hover,input[type=button]:hover{
	background-color:#f6f6f6;
	border: solid 1px #666;
	color:#666;
	font-weight:bold;
}

/*******  sidebar  ********/

.widget-title{
	display:none;
}

/******* primary sidebar ***********/
#sidebar{
	display:block;
	width:195px;
	padding:0px;
	float:left;
}
#sidebar #primary{
	position:relative;
	width: 170px;
	font-size: 11px;
	left:8px;
	top:15px;
	padding-bottom:45px;
}
#sidebar #primary ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
#sidebar #primary ul li ul{
	padding:0px;
	margin:0px;
	list-style-type:image;
}
#sidebar #primary ul li ul li{
	line-height:14px;
	font-size:11px;
	margin-bottom:10px;
	background-image:url("images/side-list-arrow-down.gif");
	background-repeat:no-repeat;
	background-position:0px 3px;
	padding-left:12px;
}
#sidebar #primary ul li ul li:hover,#sidebar #primary ul li ul li:active{
	background-image:url("images/side-list-arrow-down-on.gif");
}
#sidebar #primary ul li ul li > ul{
	margin-top:10px;
}

#sidebar #primary ul li ul li a{
	text-decoration:none;
	font-weight:bold;
}
#sidebar #primary ul li ul li a:link{
	color:#808080;
}
#sidebar #primary ul li ul li a:visited{
	color:#808080;
}
#sidebar #primary ul li ul li a:hover,#sidebar #primary ul li ul li a:visited:hover,#sidebar #primary ul li ul li a:active,#sidebar #primary ul li a:visited:active{
	color:#222222;
}

#sidebar #primary ul li  ul li ul{
	list-style-type:disc !important;
	list-style-position:inside;
	padding:0px;
	margin:10px 0px 0px 0px;
}
#sidebar #primary ul li  ul li ul li{
	width:161px;
	background-image:none;
	margin-left: 0px;
	padding-left:6px;
	text-indent:-10px;
	color:#808080;
}
#sidebar #primary ul li  ul li ul li:hover{
	color:#222222;
	background-image:none;
}
#sidebar #primary ul li  ul li ul li a{
	font-weight:normal;
}

#sidebar #primary ul li  ul li ul li.current_page_item{
	list-style-type:none;
}
#sidebar #primary ul li  ul li ul li.current_page_item a{
	background-image:url("images/side-list-arrow-on.gif");
	background-repeat:no-repeat;
	background-position:0px 3px;
	padding-left:12px;
	margin-left:-2px;
	color:#222222;
}


/******* Secondary sidebar ***********/

#sidebar #secondary{
	position:relative;
	padding-bottom:45px;
	width: 170px;
	font-size: 11px;
	left:8px;
	top:40px;
}
#sidebar #secondary ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
#sidebar #secondary ul li ul{
	padding:0px;
	margin:0px;
	list-style-type:image;
}
#sidebar #secondary ul li ul li{
	line-height:14px;
	font-size:11px;
	margin-bottom:10px;
	background-image:url("images/side-list-arrow.gif");
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding-left:12px;
}
#sidebar #secondary ul li ul li:hover,#sidebar #secondary ul li ul li:active{
	background-image:url("images/side-list-arrow-on.gif");
}
#sidebar #secondary ul li ul li > ul{
	margin-top:10px;
}

#sidebar #secondary ul li ul li a{
	text-decoration:none;
	font-weight:bold;
}
#sidebar #secondary ul li ul li a:link{
	color:#808080;
}
#sidebar #secondary ul li ul li a:visited{
	color:#808080;
}
#sidebar #secondary ul li ul li a:hover,#sidebar #secondary ul li ul li a:visited:hover,#sidebar #secondary ul li ul li a:active,#sidebar #secondary ul li a:visited:active{
	color:#222222;
}

#sidebar #secondary ul li  ul li ul{
	list-style-type:disc !important;
	list-style-position:inside;
	padding:0px;
	margin:10px 0px 0px 0px;
}
#sidebar #secondary ul li  ul li ul li{
	width:161px;
	background-image:none;
	margin-left: 0px;
	padding-left:6px;
	text-indent:-10px;
	color:#808080;
}
#sidebar #secondary ul li  ul li ul li:hover{
	color:#222222;
}
#sidebar #secondary ul li  ul li ul li a{
	font-weight:normal;
}

#sidebar #secondary ul li  ul#menu-specials-arrow,
#sidebar #secondary ul li  ul#menu-specials-arrow-au{
	padding-top:30px;
}

#sidebar #secondary ul li ul#menu-specials-arrow li,
#sidebar #secondary ul li ul#menu-specials-arrow-au li{
	background-image:none !important;
	height:20px;
}

#sidebar #secondary ul li ul#menu-specials-arrow li a,
#sidebar #secondary ul li ul#menu-specials-arrow-au li a{
	color:#fff;
	display:block;
	text-decoration:none;
	background-image:url("images/side-specials-arrow.gif");
	background-repeat:no-repeat;
	background-position:right;
	height:16px;
	padding: 4px 20px 0px 10px;
}

#sidebar #secondary ul li ul#menu-specials-arrow li a:hover,
#sidebar #secondary ul li ul#menu-specials-arrow li a:active,
#sidebar #secondary ul li ul#menu-specials-arrow li a:visited:hover,
#sidebar #secondary ul li ul#menu-specials-arrow li a:visited:active,
#sidebar #secondary ul li ul#menu-specials-arrow-au li a:hover,
#sidebar #secondary ul li ul#menu-specials-arrow-au li a:active,
#sidebar #secondary ul li ul#menu-specials-arrow-au li a:visited:hover,
#sidebar #secondary ul li ul#menu-specials-arrow-au li a:visited:active{
	background-image:url("images/side-specials-arrow-on.gif");
}


/*************************/
/*******  footer  ********/
/*************************/
#footer{
	width:1000px;
	margin:0px auto;
	z-index:110;
}
div#footer-widget-area{
	width:1000px;
	margin:0px auto;
	z-index:110;
}

/*************************/
/*******  bottom nav bar  ********/
/*************************/


div#footer-widget-area div#first ul.xoxo{
	margin:0px auto;
	padding:0px;
	width:1000px;
	list-style-type:none;
	z-index:110;
}
div#footer-widget-area div#first{
	width:1000px;
	height:39px;
	background-image:url("images/nav_back.png");
	margin:-39px auto 0px auto;
	z-index:110;
}
div#footer-widget-area div#first ul.xoxo li{
	margin:0px auto;
	padding:0px;
	list-style-type:none;
}

ul#menu-bottom-navigation,
ul#menu-bottom-navigation-es,
ul#menu-bottom-navigation-jp,
ul#menu-bottom-navigation-au{
	width:1000px;
	height:39px;
	margin:0px;
	padding:0px;
	z-index:110;
}
ul#menu-bottom-navigation li,
ul#menu-bottom-navigation-es li,
ul#menu-bottom-navigation-jp li,
ul#menu-bottom-navigation-au li{
	display:block;
	position:relative; /* this is important! */
	list-style-type:none;
	float:left;
	text-align:center;
	width:142px;
	height:39px;
	padding:0px;
	margin:0px;
	z-index:110;
}
ul#menu-bottom-navigation li:hover,
ul#menu-bottom-navigation li:active,
ul#menu-bottom-navigation-es li:hover,
ul#menu-bottom-navigation-es li:active,
ul#menu-bottom-navigation-jp li:hover,
ul#menu-bottom-navigation-jp li:active,
ul#menu-bottom-navigation-au li:hover,
ul#menu-bottom-navigation-au li:active{
	background-image:url("images/nav_back.png");
}
ul#menu-bottom-navigation li a,
ul#menu-bottom-navigation-es li a,
ul#menu-bottom-navigation-jp li a,
ul#menu-bottom-navigation-au li a{
	width:128px;
	display:block;
	float:left;
	text-align:center;
	color:#fff;
	height:33px;
	padding:6px 8px 0px 8px;
	margin:0px;
	font-family:Arial,helvetica,sans-serif;
	z-index:110;
	text-decoration:none;
}
ul#menu-bottom-navigation li a,
ul#menu-bottom-navigation-au li a,
ul#menu-bottom-navigation-es li a{
	font-size:12px;
	line-height:14px;
}
ul#menu-bottom-navigation-jp li a{
	font-size:11px;
	line-height:13px;
}
ul#menu-bottom-navigation li a:link,
ul#menu-bottom-navigation li a:visited,
ul#menu-bottom-navigation-au li a:link,
ul#menu-bottom-navigation-au li a:visited,
ul#menu-bottom-navigation-es li a:link,
ul#menu-bottom-navigation-es li a:visited,
ul#menu-bottom-navigation-jp li a:link,
ul#menu-bottom-navigation-jp li a:visited{
	background-image:none;
}
ul#menu-bottom-navigation li#menu-item-68,
ul#menu-bottom-navigation-es li#menu-item-68,
ul#menu-bottom-navigation-jp li#menu-item-68,
ul#menu-bottom-navigation-au li#menu-item-68,
ul#menu-bottom-navigation li#menu-item-8200,
ul#menu-bottom-navigation-es li#menu-item-8200,
ul#menu-bottom-navigation-jp li#menu-item-8200,
ul#menu-bottom-navigation-au li#menu-item-8200{
	width:148px !important;
	height:39px;
	background-image:url("images/nav-book-back.png");

}
ul#menu-bottom-navigation li#menu-item-68 a,
ul#menu-bottom-navigation-au li#menu-item-68 a,
ul#menu-bottom-navigation-es li#menu-item-68 a,
ul#menu-bottom-navigation-jp li#menu-item-68 a,
ul#menu-bottom-navigation li#menu-item-8200 a,
ul#menu-bottom-navigation-au li#menu-item-8200 a,
ul#menu-bottom-navigation-es li#menu-item-8200 a,
ul#menu-bottom-navigation-jp li#menu-item-8200 a{
	width:132px !important;
	padding-top:6px;
	height:26px;
	font-size:14px !important;
	font-weight:bold !important;
}

li#menu-item-68 a:hover, li#menu-item-68 a:visited:hover,li#menu-item-68 a:active, li#menu-item-68 a:visited:active,
li#menu-item-8200 a:hover, li#menu-item-8200 a:visited:hover,li#menu-item-8200 a:active, li#menu-item-8200 a:visited:active{
	height:27px;
	background-image:url("images/nav-book-back.png") !important;
	padding: 12px auto 0px auto !important;
	margin:0px;
}

ul#menu-bottom-navigation li ul.sub-menu,
ul#menu-bottom-navigation-au li ul.sub-menu,
ul#menu-bottom-navigation-es li ul.sub-menu,
ul#menu-bottom-navigation-jp li ul.sub-menu{
	visibility:hidden;
}
ul#menu-bottom-navigation li:hover ul.sub-menu,
ul#menu-bottom-navigation-au li:hover ul.sub-menu,
ul#menu-bottom-navigation-es li:hover ul.sub-menu,
ul#menu-bottom-navigation-jp li:hover ul.sub-menu{
	visibility:visible;
}

ul#menu-bottom-navigation li > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu{
	display:block;
	position:absolute;
	bottom:100%;
	float:left;
	left:-8px;
	padding:15px 0px 10px 0px;
	background-image:url("images/drop-up-back.png") !important;
	background-repeat:no-repeat;
	background-position: top;
	min-height:0px;
}

ul#menu-bottom-navigation:after, ul#menu-bottom-navigation ul:after,
ul#menu-bottom-navigation-au:after, ul#menu-bottom-navigation-au ul:after,
ul#menu-bottom-navigation-es:after, ul#menu-bottom-navigation-es ul:after,
ul#menu-bottom-navigation-jp:after, ul#menu-bottom-navigation-jp ul:after{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

/*** sub-sub menus ***/



ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu{
	display:block;
	position:absolute;
	bottom:100%;
	float:left;
	left:-8px;
	padding:15px 0px 10px 0px;
	background-image:url("images/drop-up-back.png") !important;
	background-repeat:no-repeat;
	background-position: top;
	min-height:0px;
}

ul#menu-bottom-navigation ul li ul:after,
ul#menu-bottom-navigation-au ul li ul:after,
ul#menu-bottom-navigation-es ul li ul:after,
ul#menu-bottom-navigation-jp ul li ul:after{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu{
	display:block;
	visibility:hidden;
	float:left;

}
ul#menu-bottom-navigation li > ul.sub-menu li:hover  > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu li:hover  > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu li:hover  > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu li:hover  > ul.sub-menu{
	visibility:visible;
	float:left;

}

ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu{
/*	clear:both; */
	width:187px;
	left:-8px;
	margin:0px;
	font-family:helvetica,Arial,sans-serif;
}

ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li {
	position:relative;
	width:153px;
	height:auto;
	float:none;
	padding:0px 17px 0px 17px;
	margin:0px;
	
}
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li:hover,
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li:active,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li:active,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li:active,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li:active{
	background-image:none;
}
ul#menu-bottom-navigation li > ul.sub-menu li  > ul.sub-menu li a,
ul#menu-bottom-navigation-au li > ul.sub-menu li  > ul.sub-menu li a,
ul#menu-bottom-navigation-es li > ul.sub-menu li  > ul.sub-menu li a,
ul#menu-bottom-navigation-jp li > ul.sub-menu li  > ul.sub-menu li a{
	position:relative;
	width:153px;
	float:none;
	text-align:left;
	height:auto;
	font-size:11px;
	line-height:14px;
	padding:8px 0px 0px 0px;
	
}
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li  a:hover,
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation li > ul.sub-menu li  > ul.sub-menu li a:active,
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li a:visited:active,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li  a:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-au li > ul.sub-menu li  > ul.sub-menu li a:active,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li a:visited:active,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li  a:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-es li > ul.sub-menu li  > ul.sub-menu li a:active,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li a:visited:active,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li  a:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li a:visited:hover,
ul#menu-bottom-navigation-jp li > ul.sub-menu li  > ul.sub-menu li a:active,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li a:visited:active{
	background-image:none !important;
	color:#627bbb !important;
}
ul#menu-bottom-navigation li > ul.sub-menu li > ul.sub-menu li  a:link,
ul#menu-bottom-navigation li ul.sub-menu li > ul.sub-menu li  a:visited,
ul#menu-bottom-navigation-au li > ul.sub-menu li > ul.sub-menu li  a:link,
ul#menu-bottom-navigation-au li ul.sub-menu li > ul.sub-menu li  a:visited,
ul#menu-bottom-navigation-es li > ul.sub-menu li > ul.sub-menu li  a:link,
ul#menu-bottom-navigation-es li ul.sub-menu li > ul.sub-menu li  a:visited,
ul#menu-bottom-navigation-jp li > ul.sub-menu li > ul.sub-menu li  a:link,
ul#menu-bottom-navigation-jp li ul.sub-menu li > ul.sub-menu li  a:visited{
	color:#535353;
}

/*** search page  ***/

.search_page .entry-utility,.search_page .entry-meta{
	display:none;
}
.search_page h2.entry-title{
	margin-bottom:0px;
}

.search_page .entry-summary{
	margin-top:0px;
	margin-bottom:25px;
}


/*** booking pages  ***/

#tour_list ul li{
	margin-bottom:4px;
}
#tour_list ul{
	margin-top:0px;
}
#tour_list h4{
	margin-bottom:6px;
	margin-top:25px;
}

.sidebox{
	border: solid 1px #999;
	padding:10px;
}
#page_content #sidebar{
	display:block;
	float:right;
	margin:0px 0px 10px 10px;
	width:430px !important;

}
/*******  foot area links  ********/

div#footer-widget-area div#second ul.xoxo{
	margin:0px 20px 0px 8px;
	padding:0px;
	width:982px;
	list-style-type:none;
}
ul#menu-foot-navigation, ul#menu-foot-navigation-au{
	width:100%;
	height:39px;
	margin:37px 0px 0px 0px;
	padding:0px;
}
ul#menu-foot-navigation li, ul#menu-foot-navigation-au li{
	list-style-type:none;
	float:right;
	text-align:center;
	height:39px;
	padding:0px 10px;
	margin:0px;
}
ul#menu-foot-navigation li a, ul#menu-foot-navigation-au li a{
	color:#aeaeae;
	height:33px;
	padding:0px;
	margin:0px;
	font-family:Arial,helvetica,sans-serif;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
}
ul#menu-foot-navigation li a:link,ul#menu-foot-navigation li a:visited,
ul#menu-foot-navigation-au li a:link,ul#menu-foot-navigation-au li a:visited{
	text-decoration:none;
}
ul#menu-foot-navigation li a:hover,ul#menu-foot-navigation li a:visited:hover,ul#menu-foot-navigation li a:active,ul#menu-foot-navigation li a:visited:active,
ul#menu-foot-navigation-au li a:hover,ul#menu-foot-navigation-au li a:visited:hover,ul#menu-foot-navigation-au li a:active,ul#menu-foot-navigation-au li a:visited:active{
	color:#feba35;
	text-decoration:underline;
}
li#menu-item-88,li#menu-item-87{
	padding:0px 2px!important;
}
ul#menu-foot-navigation li a img, ul#menu-foot-navigation-au li a img{
	margin-top:-7px;
}

ul#bottom_logos{
	list-style-type:none;
	margin:45px auto 10px auto;
	padding:0px;
	text-indent:0px;
	width:1000px
}
ul#bottom_logos li{
	margin:0px;
	padding:0px;
	width:166px;
	float:left;
	text-align:center;
	text-indent:0px;
}
ul#bottom_logos li img{
	margin:0px auto;
}


#page_bottom{
	clear:both;
	width:1008px;
	height:9px;
	margin:0px auto;
	padding:0px;
	background-image:url("images/panel-bottom.gif");
}
div#site_credits{
	width:1000px;
	margin:30px auto 10px auto;
	text-align:center;
	color:#7e7e7e;
	font-size:11px;
	line-height:16px;
}
div#site_credits a{
	text-decoration:none;
	color:#7e7e7e;
}
div#site_credits a:hover,div#site_credits a:active,div#site_credits a:visited:hover,div#site_credits a:visited:active{
	text-decoration:underline;
}
p#wpml_credit_footer{
	display:none;
}
div.clear{
	clear:both;
	margin:0px;
}
body,div,p,li,td,th,input,textarea,label,h1,h2,h3,h4,h5,h6{
	font-family:Helvetica,arial,sans-serif;
	font-size:12px;
}

a:link{
	color:#627bbb;
}
a:visited{
	color:#98a3c0;
}
a:hover, a:visited:hover,a:active,a:visited:active{
	color:#f0a523;
}

/****************************/
/******  popup box   ********/
/****************************/

#popup{
	display:none;
	position:absolute;
	top:110px;
	z-index:500;
	height:100px;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	border: solid 10px #c4dce9;
	background-color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#popup h3{
	display:block;
	width:260px;
	height:14px;
	margin:5px 5px 5px 5px;
	padding:4px 15px;
	cursor:pointer;
	z-index:500;
}
div#pop_content{
	display:inherit;
	position:relative;
	width:234px;
	margin:0px auto 0px auto;
	padding:8px;
	height: 420px;
	z-index:500;
	font-size: 10px;
}
div#pop_content input[type="text"]{
	height:10px;
	width:110px;
	border: solid 1px #e8e8e8;
	font-size:10px;
	color:#aeaeae;
	padding: 2px 3px;
	margin:0px;
	float:right;
	vertical-align:middle;
}
#err_field{
	display:none;
	width:210px;
	height:14px;
	font-size:10px;
	color:#6E6E6E;
	margin-top:-14px;
}
div#pop_content input[type="submit"]{
	display:block;
	border: solid 1px #e8e8e8;
	font-size:10px;
	color:#aeaeae;
	padding: 2px 3px;
	margin:5px 0px 5px 115px;
}
div#pop_content div.element{
	display:block;
	height:16px;
	margin:4px 0px;
	padding:0px;
}
div#pop_content label{
	display:block;
	float:left;
	font-size: 10px;
	color:#6E6E6E;
	width: 105px;
}
div.pop_close{
	display:block;
	width:240px;
	margin:0px;
	text-align:right;
	z-index:500;
}
div.pop_close a,#popup h3 a{
	text-decoration:none;
	font-size:11px;
}


/**************************/
/****** NEW home page  ********/
/**************************/

.page-id-8333 #page_photo_home,
.page-id-8353 #page_photo_home,
.page-id-8356 #page_photo_home{
	width:980px;
	height:567px;
	margin:0px auto;
	background-image:url("images/home_images/coast.jpg");
	z-index:10;
}
.page-id-8333 #page_photo_home h2.entry-title,
.page-id-8353 #page_photo_home h2.entry-title,
.page-id-8356 #page_photo_home h2.entry-title,
 #home_box h2.entry-title{
	display:none;
}
.page-id-8333 #home_content,
.page-id-8353 #home_content,
.page-id-8356 #home_content{
	position:relative;
	width:254px;
	top:86px;
	margin:0px auto 0px  0px;
	float:left;
}
.page-id-8333 #specials_list a,
.page-id-8353 #specials_list a,
.page-id-8356 #specials_list a{
	color:#feba35;
	display:block;
	text-decoration:none;
	width:220px;
	margin:10px 0px 5px 0px;
}
.page-id-8333 #specials_list a h3,
.page-id-8353 #specials_list a h3,
.page-id-8356 #specials_list a h3{
	font-size:11px;
	width:200px;
	line-height:13px;
	margin:0px 0px 0px 0px;
	color:#feba35;
}
.page-id-8333 #specials_list a:link,
.page-id-8353 #specials_list a:link,
.page-id-8356 #specials_list a:link,
.page-id-8333 #specials_list a:visited,
.page-id-8353 #specials_list a:visited,
.page-id-8356 #specials_list a:visited{
	color:#feba35;
	text-decoration:none;
	background-image:url("images/home-specials-arrow.png");
	background-repeat:no-repeat;
	background-position:center right;
}
.page-id-8333 #specials_list a:hover,
.page-id-8353 #specials_list a:hover,
.page-id-8356 #specials_list a:hover,
.page-id-8333 #specials_list a:visited:hover,
.page-id-8353 #specials_list a:visited:hover,
.page-id-8356 #specials_list a:visited:hover,
.page-id-8333 #specials_list a:active,
.page-id-8353 #specials_list a:active,
.page-id-8356 #specials_list a:active,
.page-id-8333 #specials_list a:visited:active,
.page-id-8353 #specials_list a:visited:active,
.page-id-8356 #specials_list a:visited:active{
	background-image:url("images/home-specials-arrow-on.png");
	background-repeat:no-repeat;
	background-position:center right;
}
.page-id-8333 #specials_list a:hover,
.page-id-8353 #specials_list a:hover,
.page-id-8356 #specials_list a:hover,
.page-id-8333 #specials_list a:visited:hover,
.page-id-8353 #specials_list a:visited:hover,
.page-id-8356 #specials_list a:visited:hover,
.page-id-8333 #specials_list a:active,
.page-id-8353 #specials_list a:active,
.page-id-8356 #specials_list a:active,
.page-id-8333 #specials_list a:visited:active,
.page-id-8353 #specials_list a:visited:active,
.page-id-8356 #specials_list a:visited:active,
.page-id-8333 #specials_list a:hover h3,
.page-id-8353 #specials_list a:hover h3,
.page-id-8356 #specials_list a:hover h3,
.page-id-8333 #specials_list a:visited:hover h3,
.page-id-8353 #specials_list a:visited:hover h3,
.page-id-8356 #specials_list a:visited:hover h3,
.page-id-8333 #specials_list a:active h3,
.page-id-8353 #specials_list a:active h3,
.page-id-8356 #specials_list a:active h3,
.page-id-8333 #specials_list a:visited:active h3,
.page-id-8353 #specials_list a:visited:active h3,
.page-id-8356 #specials_list a:visited:active h3{
	color:#ffffff;
	text-decoration:none;
}
.page-id-8333 #header,
.page-id-8353 #header,
.page-id-8356 #header{
	width:1000px;
	margin:0px auto;
	height:118px;
}
.page-id-8333 #print_head,
.page-id-8353 #print_head,
.page-id-8356 #print_head{
	display:none;
}
.page-id-8333 #logo,
.page-id-8353 #logo,
.page-id-8356 #logo{
	display:block;
	float:left;
	width:117px;
	height:49px;
	margin:15px 0 15px 15px;
}
.page-id-8333 #head_box,
.page-id-8353 #head_box,
.page-id-8356 #head_box{
	float:right;
	height:25px;
	text-align:right;
}
.page-id-8333 #top_links,
.page-id-8353 #top_links,
.page-id-8356 #top_links{
	font-size:11px;
	font-family:Arial,
helvetica,sans-serif;
	color:#999999;
	margin:12px 13px 4px 0px;
	text-transform:uppercase;
}
.page-id-8333 #second_line,
.page-id-8353 #second_line,
.page-id-8356 #second_line{
	margin-right:7px;
	font-size:11px;
}
.page-id-8333 #second_line a,
.page-id-8353 #second_line a,
.page-id-8356 #second_line a{
	margin:0px 5px;
}
.page-id-8333 #second_line a:link,
.page-id-8353 #second_line a:link,
.page-id-8356 #second_line a:link,
#second_line a:visited{
	color:#014da0;
	text-decoration:none;
}
.page-id-8333 #second_line a:hover,
.page-id-8353 #second_line a:hover,
.page-id-8356 #second_line a:hover,
#second_line a:visited:hover,#second_line a:active,#second_line a:visited:active{
	color:#feba35;
	text-decoration:underline;
}
.page-id-8333 #top_links a:link,
.page-id-8353 #top_links a:link,
.page-id-8356 #top_links a:link,
.page-id-8333 #top_links a:visited,
.page-id-8353 #top_links a:visited,
.page-id-8356 #top_links a:visited{
	text-decoration:none;
}
.page-id-8333 #top_links a:hover,
.page-id-8353 #top_links a:hover,
.page-id-8356 #top_links a:hover,
.page-id-8333 #top_links a:visited:hover,
.page-id-8353 #top_links a:visited:hover,
.page-id-8356 #top_links a:visited:hover,
.page-id-8333 #top_links a:active,
.page-id-8353 #top_links a:active,
.page-id-8356 #top_links a:active,
.page-id-8333 #top_links a:visited:active,
.page-id-8353 #top_links a:visited:active,
.page-id-8356 #top_links a:visited:active{
	text-decoration:underline;
}
a#make_reservation{
	display:inline-block;
	margin-left: 15px;
}
a#make_reservation:link,
a#make_reservation:visited{
	text-decoration:none;
	color:#efb94e;
}
a#make_reservation:hover,a#make_reservation:visited:hover,a#make_reservation:active,a#make_reservation:visited:active{
	text-decoration:underline;
	color:#627BBB;
}

.page-id-8333 #footer,
.page-id-8353 #footer,
.page-id-8356 #footer{
	background-image:url(/wp-content/themes/catours/images/home-bottom-splash.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	min-height:220px;
}
.page-id-8333 #footer #first,
.page-id-8353 #footer #first,
.page-id-8356 #footer #first{
	display:block;
	position:relative;
	margin-top:20px;
	float:left;
	width:350px;
	margin-left:10px;
	padding-left:10px;
	height:140px;
}
.page-id-8333 #footer #second,
.page-id-8353 #footer #second,
.page-id-8356 #footer #second{
	display:block;
	position:relative;
	margin-top:20px;
	width:230px;
	min-height:150px;
	float:left;
	border-left:solid 1px #797878;
	padding-top:0px;
	
}
.page-id-8333 #footer #third,
.page-id-8353 #footer #third,
.page-id-8356 #footer #third{
	display:block;
	position:relative;
	margin-top:20px;
	width:220px;
	float:left;
	padding-top:0px;
	
}
.page-id-8333 #footer #fourth,
.page-id-8353 #footer #fourth,
.page-id-8356 #footer #fourth{
	display:block;
	position:relative;
	float:right;
	margin-right:5px;
	margin-top:20px;
	width:180px;
	padding:0px 0px 0px 0px;
}
.page-id-8333 #footer #first,
.page-id-8353 #footer #first,
.page-id-8356 #footer #first{
	display:block;
	position:relative;
	margin-top:20px;
	float:left;
	width:350px;
	margin-left:10px;
	padding-left:10px;
	height:140px;
}
.page-id-8333 #footer #first h3.widget-title,
.page-id-8353 #footer #first h3.widget-title,
.page-id-8356 #footer #first h3.widget-title{
	display:block;
}
.page-id-8333 #footer #first h3,
.page-id-8353 #footer #first h3,
.page-id-8356 #footer #first h3{
	font-weight:bold;
	text-transform:uppercase;
	color:#efb94e;
	font-size:13px;
	line-height:13px;
	margin-bottom:15px;
	margin-top:0px;
}
.page-id-8333 div#footer-widget-area div#first,
.page-id-8353 div#footer-widget-area div#first,
.page-id-8356 div#footer-widget-area div#first,
.page-id-8333 div#footer-widget-area div#first p,
.page-id-8353 div#footer-widget-area div#first p,
.page-id-8356 div#footer-widget-area div#first p{
	font-weight:normal;
	color:#efb94e;
	font-size:10px;
	line-height:9px;
}
.page-id-8333 div#footer-widget-area div#first a:link,
.page-id-8353 div#footer-widget-area div#first a:link,
.page-id-8356 div#footer-widget-area div#first a:link{
	color:#000000;
	text-decoration:none;
}
.page-id-8333 div#footer-widget-area div#first a:visited,
.page-id-8353 div#footer-widget-area div#first a:visited,
.page-id-8356 div#footer-widget-area div#first a:visited,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:visited,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:visited,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:visited{
	color:#555555;
	text-decoration:none;
}
.page-id-8333 div#footer-widget-area div#first a:hover,
.page-id-8353 div#footer-widget-area div#first a:hover,
.page-id-8356 div#footer-widget-area div#first a:hover,
.page-id-8333 div#footer-widget-area div#first a:visited:hover,
.page-id-8353 div#footer-widget-area div#first a:visited:hover,
.page-id-8356 div#footer-widget-area div#first a:visited:hover,
.page-id-8333 div#footer-widget-area div#first a:active,
.page-id-8353 div#footer-widget-area div#first a:active,
.page-id-8356 div#footer-widget-area div#first a:active,
.page-id-8333 div#footer-widget-area div#first a:visited:active,
.page-id-8353 div#footer-widget-area div#first a:visited:active,
.page-id-8356 div#footer-widget-area div#first a:visited:active{
	color:#627BBB;
	text-decoration:underline;
}
.page-id-8333 #searchform,
.page-id-8353 #searchform,
.page-id-8356 #searchform{
	display:block;
	position:relative;
	float:right;
	padding:0px;
	height:20px;
	margin:0px 5px 0px 0px;
}
.page-id-8333 #search_field,
.page-id-8353 #search_field,
.page-id-8356 #search_field{
	position:relative;
	display:inline-block;
	vertical-align:top;
	border: solid 1px #797979;
	font-size:10px;
	text-align:right;
	color:#aeaeae;
	padding: 4px 5px;
	width:130px;
	height:12px;
	background-color:#fff;
}
.page-id-8333 #searchsubmit,
.page-id-8353 #searchsubmit,
.page-id-8356 #searchsubmit{
	cursor:pointer;
	position:relative;
	display:inline-block;
	vertical-align:top;
	top:0px;
	width:26px;
	height:22px;
	border:none;
}
.page-id-8333 ul#soc_icons,
.page-id-8353 ul#soc_icons,
.page-id-8356 ul#soc_icons{
	display:block;
	clear:both;
	float:right;
	height:20px;
	margin:25px 4px 100px 0px;
}
.page-id-8333 ul#soc_icons li,
.page-id-8353 ul#soc_icons li,
.page-id-8356 ul#soc_icons li{
	list-style-type:none;
	float:right;
	padding-left:3px;
}
.page-id-8333 ul#soc_icons li a,
.page-id-8353 ul#soc_icons li a,
.page-id-8356 ul#soc_icons li a{
	text-decoration:none;
	color:#000000;
}
.page-id-8333 ul#soc_icons li a:hover,
.page-id-8353 ul#soc_icons li a:hover,
.page-id-8356 ul#soc_icons li a:hover,
.page-id-8333 ul#soc_icons li a:active,
.page-id-8353 ul#soc_icons li a:active,
.page-id-8356 ul#soc_icons li a:active,
.page-id-8333 ul#soc_icons li a:visited:hover,
.page-id-8353 ul#soc_icons li a:visited:hover,
.page-id-8356 ul#soc_icons li a:visited:hover,
.page-id-8333 ul#soc_icons li a:visited:active,
.page-id-8353 ul#soc_icons li a:visited:active,
.page-id-8356 ul#soc_icons li a:visited:active{
	text-decoration:none;
	color:#627bbb !important;
}
.page-id-8333 ul#soc_icons li img,
.page-id-8353 ul#soc_icons li img,
.page-id-8356 ul#soc_icons li img{
	width:21px;
	height:21px;
}
.page-id-8333 p#copyright,
.page-id-8353 p#copyright,
.page-id-8356 p#copyright{
	font-size:9px;
}

/*******************************/
/****** NEW top navigation  ********/
/*******************************/

/****** main navigation  ********/

.page-id-8333  #access,
.page-id-8353  #access,
.page-id-8356  #access{
	width:1000px;
	height:39px;
	position:block;
	background-image:none;
	margin:4px 0px 15px 0px;
	z-index:100;
	clear: both;
}
.page-id-8333 div.menu-header ul.menu,
.page-id-8353 div.menu-header ul.menu,
.page-id-8356 div.menu-header ul.menu{
	width:1000px;
	height:39px;
	padding:0px;
}
.page-id-8333 div.menu-header ul.menu li,
.page-id-8353 div.menu-header ul.menu li,
.page-id-8356 div.menu-header ul.menu li{
	display:block;
	position:relative;
	list-style-type:none;
	float:left;
	text-align:center;
	width:90px;
	height:39px;
	padding:0px;
	margin:0px;
}
.page-id-8333 div.menu-header ul.menu li:hover,
.page-id-8353 div.menu-header ul.menu li:hover,
.page-id-8356 div.menu-header ul.menu li:hover,
.page-id-8333 div.menu-header ul.menu li:active,
.page-id-8353 div.menu-header ul.menu li:active,
.page-id-8356 div.menu-header ul.menu li:active{
	background-image:none;
	color:orange;
}
.page-id-8333 div.menu-header ul.menu li a,
.page-id-8353 div.menu-header ul.menu li a,
.page-id-8356 div.menu-header ul.menu li a{
	width:81px;
	display:block;
	float:none;
	text-align:center;
	color:#000;
	height:33px;
	padding:0px 1px;
	margin:0px;
	font-family:Arial,
helvetica,sans-serif;
	text-decoration:none;
	font-size:11px;
	line-height:12px;
	text-transform:uppercase;
}
.page-id-8356 li#menu-item-60{
	width:92px;
}

.page-id-8356 li#menu-item-60 a{
	width:90px;
}

.page-id-8333 div.menu-header ul#menu-top-navigation li ul,
.page-id-8353 div.menu-header ul#menu-top-navigation li ul,
.page-id-8356 div.menu-header ul#menu-top-navigation li ul{
	padding-top:10px;
	font-size:10px;
	line-height:12px;
}
.page-id-8333 div.menu-header ul#menu-top-navigation li a span.smaller,
.page-id-8353 div.menu-header ul#menu-top-navigation li a span.smaller,
.page-id-8356 div.menu-header ul#menu-top-navigation li a span.smaller{
	font-size:9px;
}
.page-id-8333 div.menu-header ul#menu-top-navigation li li a,
.page-id-8353 div.menu-header ul#menu-top-navigation li li a,
.page-id-8356 div.menu-header ul#menu-top-navigation li li a{
	padding:4px 8px;
	font-size:9px;
	line-height:12px;
}
.page-id-8356 div.menu-header ul#menu-top-navigation-jp li a{
	width:90px;
	padding:0px 8px;
	font-size:9px;
	line-height:11px;
}
.page-id-8356 div.menu-header ul#menu-top-navigation-jp li li a{
	width:150px;
	padding:4px 8px;
}
.page-id-8333 div.menu-header ul.menu li a:link,
.page-id-8353 div.menu-header ul.menu li a:link,
.page-id-8356 div.menu-header ul.menu li a:link,
.page-id-8333 div.menu-header ul.menu li a:visited,
.page-id-8353 div.menu-header ul.menu li a:visited,
.page-id-8356 div.menu-header ul.menu li a:visited{
	background-image:none;
}
.page-id-8333 div.menu-header ul.menu li a:hover,
.page-id-8353 div.menu-header ul.menu li a:hover,
.page-id-8356 div.menu-header ul.menu li a:hover,
.page-id-8333 div.menu-header ul.menu li a:visited:hover,
.page-id-8353 div.menu-header ul.menu li a:visited:hover,
.page-id-8356 div.menu-header ul.menu li a:visited:hover,
.page-id-8333 div.menu-header ul.menu li a:active,
.page-id-8353 div.menu-header ul.menu li a:active,
.page-id-8356 div.menu-header ul.menu li a:active,
.page-id-8333 div.menu-header ul.menu li a:visited:active,
.page-id-8353 div.menu-header ul.menu li a:visited:active,
.page-id-8356 div.menu-header ul.menu li a:visited:active{
	color:#627bbb !important;
}
/****** sub navigation  ********/

.page-id-8333 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu{
	display:none;
}	
.page-id-8333 div.menu-header ul.menu li:hover > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li:hover > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li:hover > ul.sub-menu,
.page-id-8333 div.menu-header ul.menu li:active > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li:active > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li:active > ul.sub-menu,
.page-id-8333 div.menu-header ul.menu li:visited:hover > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li:visited:hover > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li:visited:hover > ul.sub-menu,
.page-id-8333 div.menu-header ul.menu li:visited:active > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li:visited:active > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li:visited:active > ul.sub-menu{
	display:block;
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu{
/*	clear:both; */
	width:177px;
	left:-8px;
	margin:0px;
	font-family:helvetica,
Arial,sans-serif;
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu{
	position:relative;
	padding:0px 0px 15px 0px;
	background-color:#ffffff;
	background-image:none !important;
}
.page-id-8333 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu,
.page-id-8353 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu,
.page-id-8356 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu{
	left:-67px;
}
.page-id-8333 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu li a,
.page-id-8353 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu li a,
.page-id-8356 div.menu-header ul.menu li#menu-item-55 > ul.sub-menu li a{
	text-align:left;
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li{
	position:relative;
	width:153px;
	height:auto;
	float:none;
	padding:0px 7px 0px 7px;
	margin:0px;
	
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li:hover,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li:hover,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li:hover,
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li:active,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li:active,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li:active{
	background-image:none;
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a{
	position:relative;
	width:153px;
	float:none;
	text-align:left;
	height:auto;
	font-size:11px;
	line-height:14px;
	padding:8px 0px 0px 0px;
	
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a:hover,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a:hover,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a:hover,
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a:visited:hover,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a:visited:hover,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a:visited:hover,
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a:active,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a:active,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a:active,
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a:visited:active,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a:visited:active,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a:visited:active{
	background-image:none !important;
	color:#627bbb !important;
}
.page-id-8333 div.menu-header ul.menu li > ul.sub-menu li a:link,
.page-id-8353 div.menu-header ul.menu li > ul.sub-menu li a:link,
.page-id-8356 div.menu-header ul.menu li > ul.sub-menu li a:link,
.page-id-8333 div.menu-header ul.menu li ul.sub-menu li a:visited,
.page-id-8353 div.menu-header ul.menu li ul.sub-menu li a:visited,
.page-id-8356 div.menu-header ul.menu li ul.sub-menu li a:visited{
	color:#535353;
}
/*******************************/
/****** NEW Bottom navigation  ********/
/*******************************/
.page-id-8333 div#footer-widget-area,
.page-id-8353 div#footer-widget-area,
.page-id-8356 div#footer-widget-area{
	width:1000px;
	min-height:140px;
}
.page-id-8333 div#footer-widget-area div#first ul.xoxo,
.page-id-8353 div#footer-widget-area div#first ul.xoxo,
.page-id-8356 div#footer-widget-area div#first ul.xoxo{
	margin:20px 0px 0px 15px !important;
	padding:0px;
	height:140px;
	width:270px;
	list-style-type:none;
	z-index:110;
}
.page-id-8333 div#footer-widget-area div#first,
.page-id-8353 div#footer-widget-area div#first,
.page-id-8356 div#footer-widget-area div#first{
	width:350px;
	background-image:none;
	margin:0px 0px 5px 0px;
	z-index:110;
}
.page-id-8333 div#footer-widget-area div#first ul.xoxo li,
.page-id-8353 div#footer-widget-area div#first ul.xoxo li,
.page-id-8356 div#footer-widget-area div#first ul.xoxo li{
	margin:0px auto;
	padding:0px;
	list-style-type:none;
	float:none;
}
.page-id-8333 ul#menu-bottom-navigation-new,
.page-id-8353 ul#menu-bottom-navigation-new,
.page-id-8356 ul#menu-bottom-navigation-new{
	width:220px;
	height:140px;
	margin:0px;
	padding:0px;
	z-index:110;
}
.page-id-8333 ul#menu-bottom-navigation-new li,
.page-id-8353 ul#menu-bottom-navigation-new li,
.page-id-8356 ul#menu-bottom-navigation-new li{
	display:block;
	position:relative; /* this is important! */
	list-style-type:none;
	text-align:center;
	padding:0px;
	margin:0px;
	z-index:110;
}
.page-id-8333 ul#menu-bottom-navigation-new li:link,
.page-id-8353 ul#menu-bottom-navigation-new li:link,
.page-id-8356 ul#menu-bottom-navigation-new li:link,

.page-id-8333 ul#menu-bottom-navigation-new li:visited,
.page-id-8353 ul#menu-bottom-navigation-new li:visited,
.page-id-8356 ul#menu-bottom-navigation-new li:visited{
	color:#efb94e;
	text-decoration:none;
}
.page-id-8333 ul#menu-bottom-navigation-new li:hover,
.page-id-8353 ul#menu-bottom-navigation-new li:hover,
.page-id-8356 ul#menu-bottom-navigation-new li:hover,

.page-id-8333 ul#menu-bottom-navigation-new li:active,
.page-id-8353 ul#menu-bottom-navigation-new li:active,
.page-id-8356 ul#menu-bottom-navigation-new li:active{
	color:#000;
	text-decoration:none;
}
.page-id-8333 ul#menu-bottom-navigation-new li a,
.page-id-8353 ul#menu-bottom-navigation-new li a,
.page-id-8356 ul#menu-bottom-navigation-new li a{
	display:inline-block;
	float:left;
	text-align:left;
	padding:0px 14px 0px 0px;
	margin:0px 0px 10px 0px;
	font-family:Arial,
helvetica,sans-serif;
	font-size:10px;
	z-index:110;
	text-transform:uppercase;
	color:#555555;
	text-decoration:none;
}
.page-id-8333 ul#menu-bottom-navigation-new li a,
.page-id-8353 ul#menu-bottom-navigation-new li a,
.page-id-8356 ul#menu-bottom-navigation-new li a{
	line-height:12px;
	font-weight:600;
}
.page-id-8333 ul#menu-bottom-navigation-new li a:link,
.page-id-8353 ul#menu-bottom-navigation-new li a:link,
.page-id-8356 ul#menu-bottom-navigation-new li a:link,

.page-id-8333 ul#menu-bottom-navigation-new li a:visited,
.page-id-8353 ul#menu-bottom-navigation-new li a:visited,
.page-id-8356 ul#menu-bottom-navigation-new li a:visited,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:link,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:link,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:link{
	background-image:none;
}
.page-id-8333 ul#menu-bottom-navigation-new li a:hover,
.page-id-8353 ul#menu-bottom-navigation-new li a:hover,
.page-id-8356 ul#menu-bottom-navigation-new li a:hover,

.page-id-8333 ul#menu-bottom-navigation-new li a:visited:hover
.page-id-8353 ul#menu-bottom-navigation-new li a:visited:hover
.page-id-8356 ul#menu-bottom-navigation-new li a:visited:hover
.page-id-8333 ul#menu-bottom-navigation-new li a:active,
.page-id-8353 ul#menu-bottom-navigation-new li a:active,
.page-id-8356 ul#menu-bottom-navigation-new li a:active,

.page-id-8333 ul#menu-bottom-navigation-new li a:visited:active,
.page-id-8353 ul#menu-bottom-navigation-new li a:visited:active,
.page-id-8356 ul#menu-bottom-navigation-new li a:visited:active,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:hover,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:active,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:hover,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:active,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:hover,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:active,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:visited:hover,
.page-id-8333 ul#menu-bottom-bus-tours-new li a:visited:active,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:visited:hover,
.page-id-8353 ul#menu-bottom-bus-tours-new li a:visited:active,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:visited:hover,
.page-id-8356 ul#menu-bottom-bus-tours-new li a:visited:active{
	background-image:none;
	text-decoration:none !important;
	color:#627BBB;
	background-image:url('/wp-content/themes/catours/images/link_arrow.gif');
	background-repeat:no-repeat;
	background-position:right 2px;
}

.page-id-8333 ul#menu-bottom-bus-tours-new,
.page-id-8353 ul#menu-bottom-bus-tours-new,
.page-id-8356 ul#menu-bottom-bus-tours-new{
/*	width:210px;*/
	height:140px;
	list-style-type:none;
	margin:0px 0px 0px 0px !important;;
	padding:0px;
	z-index:110;
}
.page-id-8333 ul#menu-bottom-bus-tours-new li,
.page-id-8353 ul#menu-bottom-bus-tours-new li,
.page-id-8356 ul#menu-bottom-bus-tours-new li{
	display:block;
	position:relative; /* this is important! */
	list-style-type:none;
	text-align:center;
	padding:0px;
	margin:0px;
	z-index:110;
	font-weight:bold;
}

.page-id-8333 ul#menu-bottom-bus-tours-new li a,
.page-id-8353 ul#menu-bottom-bus-tours-new li a,
.page-id-8356 ul#menu-bottom-bus-tours-new li a{
	display:inline-block;
	float:left;
	text-align:left;
	height:12px;
	padding:0px 15px 4px 0px;
	margin:0px;
	font-family:Arial,
helvetica,sans-serif;
	font-size:10px;
	z-index:110;
	text-transform:uppercase;
	color:#555555;
	text-decoration:none;
}

.page-id-8333 ul#menu-bottom-bus-tours-new li ul,
.page-id-8353 ul#menu-bottom-bus-tours-new li ul,
.page-id-8356 ul#menu-bottom-bus-tours-new li ul{
	margin-left:0px;
	padding-left:0px;
	clear:both;
}
.page-id-8333 ul#menu-bottom-bus-tours-new li li,
.page-id-8353 ul#menu-bottom-bus-tours-new li li,
.page-id-8356 ul#menu-bottom-bus-tours-new li li{
	display:block;
	position:relative; /* this is important! */
	list-style-type:none;
	text-align:center;
	padding:0px;
	margin:0px;
	z-index:110;
	font-weight:normal;
	clear:both;
}

.page-id-8333 ul#menu-bottom-bus-tours-new li li a,
.page-id-8353 ul#menu-bottom-bus-tours-new li li a,
.page-id-8356 ul#menu-bottom-bus-tours-new li li a{
	display:inline-block;
	float:left;
	text-align:left;
	padding:0px 15px 0px 8px;
	margin:0px 0px 2px 0px;
	font-family:Arial,helvetica,sans-serif;
	font-size:10px;
	z-index:110;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	background-position:right 2px !important;
}



.page-id-8333 div#home_foot_bot_col_center div#footer-widget-area,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area{
	height:20px;
}
.page-id-8333 div#home_foot_bot_col_center div#footer-widget-area,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area,
.page-id-8333 div#home_foot_bot_col_center div#footer-widget-area div#second,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area div#second,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area div#second,
.page-id-8333 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo div,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo div,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo div,
.page-id-8333 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li,
 .page-id-8333 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div,
 .page-id-8333 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div ul li,
.page-id-8353 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div ul li,
.page-id-8356 div#home_foot_bot_col_center div#footer-widget-area ul.xoxo li div ul li{
	height:20px;
}

.page-id-8333 div#footer-widget-area div#second ul.xoxo,
.page-id-8353 div#footer-widget-area div#second ul.xoxo,
.page-id-8356 div#footer-widget-area div#second ul.xoxo{
	height:20px;
	width:220px !important;
	margin-left: 15px;
}
.page-id-8333 div#footer-widget-area div#third ul.xoxo,
.page-id-8353 div#footer-widget-area div#third ul.xoxo,
.page-id-8356 div#footer-widget-area div#third ul.xoxo{
	height:20px;
	width:200px !important;
	margin-left: 25px;
	margin-top:0px;
	list-style-type:none;
	padding:0px;
}
.page-id-8333 div#footer-widget-area div#fourth ul.xoxo,
.page-id-8353 div#footer-widget-area div#fourth ul.xoxo,
.page-id-8356 div#footer-widget-area div#fourth ul.xoxo{
	height:20px;
	width:180px !important;
	margin-left: 0px;
	margin-top:0px;
	list-style-type:none;
	padding:0px;
}
.page-id-8333 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation,
.page-id-8353 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation,
.page-id-8356 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation{
	margin: 5px 0px 0px 0px;
}
.page-id-8333 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li a,
.page-id-8353 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li a,
.page-id-8356 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li a{
	font-size:11px;
	color:#000;
	padding: 0px 4px;
}
.page-id-8333 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li,
.page-id-8353 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li,
.page-id-8356 div#footer-widget-area div#footer-very_bottom_right ul.xoxo li ul#menu-foot-navigation li{
	float:left;
	padding: 0px 4px;
}

.page-id-8333 div#footer-very_bottom_right,
.page-id-8353 div#footer-very_bottom_right,
.page-id-8356 div#footer-very_bottom_right{
	height:20px;
	width:350px;
	margin-left: 0px;
	margin-top:0px;
	display:inline-block;
	vertical-align:bottom;
	padding:15px 0px 0px 10px;
}

.page-id-8333 div#footer-very_bottom_right,
.page-id-8353 div#footer-very_bottom_right,
.page-id-8356 div#footer-very_bottom_right{
	height:20px;
	margin-left: 0px;
	margin-top:0px;
	list-style-type:none;
	padding:0px;
}

.page-id-8333 div#footer-very_bottom_right #very_bottom  ul.xoxo,
.page-id-8353 div#footer-very_bottom_right #very_bottom  ul.xoxo,
.page-id-8356 div#footer-very_bottom_right #very_bottom ul.xoxo{
	height:20px;
	margin-left: 0px;
	margin-top:12px;
	list-style-type:none;
	padding:0px;
}



.page-id-8333 ul#menu-foot-navigation,
.page-id-8353 ul#menu-foot-navigation,
.page-id-8356 ul#menu-foot-navigation{
	width:100%;
	height:12px;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.page-id-8333 ul#menu-foot-navigation li,
.page-id-8353 ul#menu-foot-navigation li,
.page-id-8356 ul#menu-foot-navigation li{
	list-style-type:none;
	float:left;
	text-align:center;
	height:14px;
	padding:0px 10px;
	margin:0px;
}
.page-id-8333 ul#menu-foot-navigation li a,
.page-id-8353 ul#menu-foot-navigation li a,
.page-id-8356 ul#menu-foot-navigation li a{
	color:#aeaeae;
	height:33px;
	padding: 0px 4px;
	margin:0px;
	font-family:Arial,helvetica,sans-serif;
	font-size:12px;
	line-height:14px;
}
.page-id-8333 ul#menu-foot-navigation li a:link,
.page-id-8333 ul#menu-foot-navigation li a:visited,
.page-id-8353 ul#menu-foot-navigation li a:link,
.page-id-8353 ul#menu-foot-navigation li a:visited,
.page-id-8356 ul#menu-foot-navigation li a:link,
.page-id-8356 ul#menu-foot-navigation li a:visited{
	text-decoration:none;
	color:#000000 !important;
}

.page-id-8333 ul#menu-foot-navigation li a:hover,
.page-id-8333 ul#menu-foot-navigation li a:visited:hover,
.page-id-8333 ul#menu-foot-navigation li a:active,
.page-id-8333 ul#menu-foot-navigation li a:visited:active,
.page-id-8353 ul#menu-foot-navigation li a:hover,
.page-id-8353 ul#menu-foot-navigation li a:visited:hover,
.page-id-8353 ul#menu-foot-navigation li a:active,
.page-id-8353 ul#menu-foot-navigation li a:visited:active,
.page-id-8356 ul#menu-foot-navigation li a:hover,
.page-id-8356 ul#menu-foot-navigation li a:visited:hover,
.page-id-8356 ul#menu-foot-navigation li a:active,
.page-id-8356 ul#menu-foot-navigation li a:visited:active{
	text-decoration:underline;
	color:#627bbb !important;
}
