BODY, tr {
	background-color: #FFF;
	font: 300 11px Verdana, Arial, sans-serif;
}

SELECT {
	position: absolute;
	left: 600px;
	border: 1px silver solid;
	font: 300 12px Verdana, Arial, sans-serif;
}

INPUT {
	position: absolute;
	padding: 2px;
	left: 600px;
	border: 1px silver solid;
	font: 300 12px Verdana, Arial, sans-serif;
	width: 200px;
}

.nonEditable {
	position: absolute;
	padding: 2px;
	left: 600px;
	border-bottom: 1px silver solid;
	font: 300 12px Verdana, Arial, sans-serif;
	width: 200px;
	color: black;
}

.inputButton {
	padding: 2px;
	border: 1px silver solid;
	font: 400 14px Verdana, Arial, sans-serif;
	position: relative;
	width: 100px;
	color: black;
	background-color: #FFCC00;
}

.inputButton:hover {
	font: bold 12px Verdana, Arial, sans-serif;
}

SELECT:focus, INPUT:focus {
	background: #eee;
}

.contactInformation {
	font: bold 13px Verdana, Arial, sans-serif;
}