/*
Theme Name: Linen PRO
Theme URI: http://thethemefoundry.com/linen/
Description: A clean and flexible magazine style theme. Features custom typography options, custom background support, and a featured post slider.
Version: 1.2.4
Author: The Theme Foundry
Author URI: http://thethemefoundry.com/
Tags: fixed-width, two-columns, white, custom-background, right-sidebar, threaded-comments, custom-colors, theme-options, translation-ready
License: GNU General Public License
License URI: LICENSE
*/

/*
	Copyright (C) 2008 - 2011 The Theme Foundry

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

/* Import Stylesheets
-----------------------------------------------------------*/
@import url("stylesheets/master.css");

/* Required WordPress Classes, don't remove these.
-----------------------------------------------------------*/
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft { float: left; }
.alignright { float: right; }

/* Make all custom CSS changes in a Child Theme.  Any custom
changes you make here will be overidden when you upgrade the theme.
-----------------------------------------------------------*/