body {
	font-family:verdana, helvetica, arial, sans-serif;;
	line-height: 17px;
	color: #000000;
	margin:10px 0 0 0;
	padding:0;
	font-size:11px;
}
#content-container {
	/*border:1px solid black;*/
	margin:0;
	padding:0;
	margin-right:auto;
	margin-left:auto;
	width:775px;
}
h1,h2,h3,h4{
	margin:0;
	padding:0;
}
h1{
	background-image:url(../images/yellow-top.gif);
	background-repeat:no-repeat;
	/*background-color:#FFCC66;*/
	font-size:16px;
	color:#003366;
	text-align:center;
	height:22px;
	padding:2px 0 0 0;
	margin:0;
	display:block;
	/*border:1px solid #000000;*/
}
h4{
	font-size:12px;
	letter-spacing:1px;
	padding:10px 0 0 0;
	color:#003366;
	border-bottom:1px solid #CAD8E4;
}
.tbl-cntr{
	margin-right:auto;
	margin-left:auto;
}
#content {
	/*background-color:#FFCC66;*/
	/*border-bottom:1px solid #FFCC66;*/
	border-top:0;
	margin:0;
	padding:0 0 10px 0;
	/*border:1px solid #FFCC66;*/
	border-top:0;
	font-weight:bold;
}
#content table{
	font-weight:bold;
	margin:10px 0 0 0;
	padding:0;
	width:300px;
}
#content table tr td{
	padding:3px 5px 3px 3px;
}
#content table.yellow{
	border:1px solid #FFFABF;
	background-color:#FFFCDF;
}
#content table.blue{
	border:1px solid #BFDFFF;
	background-color:#EFF7FF;
}
#content table.orange{
	border:1px solid #FFC19F;
	background-color:#FFD6BF;
}
#content input{
	font-size:11px;
}
#content input.text{
	border:1px solid #6797CF;
}
#content input.button{
	font-size:14px;
	font-weight:bold;
	border:1px solid #FFCC66;
	background-color:#FFCC66;
	color:#003366;
}
#content select{
	font-size:11px;
}
#content #box-left{
	/*border-right:1px solid #FFCC66;*/
	width:300px;
	padding:0 10px 5px 5px;
	margin:0;
}
#content #box-right{
	/*border-left:1px solid #FFCC66;*/
	width:440px;
	padding:0 5px 5px 10px;
	margin:0;
}
#footer {
	border-top:1px solid #FFCC66;
	text-align:center;
	font-size:11px;
	margin:0;
	padding: 5px 0;
	/* to position at the bottom of your browser, uncomment
    position: fixed;
    bottom: 0px;
	*/
}
#footer a {
	color: #ffffff;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
.float-r {
	float:right;
}
.float-l {
	float:left;
}
div.clear-r {
	clear:right;
	line-height:0;
}
div.clear-l {
	clear:left;
	line-height:0;
}
div.clear-b {
	clear:both;
	line-height:0;
}
.indent {
	margin-left: 25px;
}
